<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/assets/style.css"/>
		<title>fle-blay's Inception Bonus Page</title>
	</head>
	<body>
		<h1>So Long MotherF*****</h1>
		<p>Last move : <spane id="input-move"></span></p>
		<p><img src="/assets/dont_panic.svg" id="dont_panic"/></p>
		<p>
			<table id="map">
			</table>
		</p>
		<p><%= test %></p>
		<script>var load_map = <%- map %></script>
		<script src="/assets/index.js"></script>
	</body>
</html>
